<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Punto G - <%= title %></title>
	<link rel="icon" href="/favicon.ico">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Rubik+Beastly&family=Source+Sans+Pro:wght@200;600;700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="/styles.css">
</head>
<header>
	<div class="contenedorLogoTitulo">
		<div class="logoSexShop">
			<div class="logo"></div>
			<h2>Punto<span>G</span></h2>
		</div>	
	</div>	
	<nav>
		<a class="<%= title.includes('welcome') ? 'active' : null %>" href="/">Home</a>
		<% if (!loggedIn) { %>
			<a href="/crearCuenta">Crear Cuenta</a>
			<a href="/ingresar">Ingresar</a>
		<% } else { %>
			<a href="/admin">Agregar Producto</a>
			<a href="/desconectar">Desconectar</a>	
		<% } %>
	</nav>
</header>
<main>