<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Punto G - <%= title %></title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="/styles.css">
</head>
<header>
	<div class="contenedorLogoTitulo">
		<div class="logoSexShop">
			<img src="https://ss-static-01.esmsv.com/id/117646/galeriaimagenes/obtenerimagen/?width=38&height=38&id=sitio_logo&ultimaModificacion=2021-09-14+14%3A19%3A40" alt="">
			<h2>Punto G Sexshop</h2>
		</div>	
		<h4>El Sex Shop Nro. 1 en la provincia de Buenos Aires</h4>
	</div>	
	<nav>
		<a class="<%= title.includes('welcome') ? 'active' : null %>" href="/">Home</a>
		<% if (!loggedIn) { %>
			<a href="/crearCuenta">Crear Cuenta</a>
			<a href="/ingresar">Ingresar</a>
		<% } else { %>
			<a href="/admin">Agregar Producto</a>
			<a href="/desconectar">Desconectar</a>	
		<% } %>
	</nav>
</header>
<main>