<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>App</title>
	<link rel="stylesheet" href="/styles.css">
</head>
<body>
	<header>
		<div class="contenedorLogoTitulo">
			<div class="logoSexShop">
				<img src="https://ss-static-01.esmsv.com/id/117646/galeriaimagenes/obtenerimagen/?width=38&height=38&id=sitio_logo&ultimaModificacion=2021-09-14+14%3A19%3A40" alt="">
				<h2>Punto G Sexshop</h2>
			</div>	
			<h4>El Sex Shop Nro. 1 en la provincia de Buenos Aires</h4>
		</div>	
		<nav>
			<a href="/">Home</a>
			<a href="/productos">Crear Cuenta</a>
			<a href="/ingresar">Ingresar</a>
			<a href="" ><img class="carritoImg" src="/assets/carrito.png" alt=""></a>
		</nav>
	</header>
	<main>
		<div class="contenedorPrincipalMain">
			<div class="tituloLinkMain">
				<h1>HACE QUE SUCEDA...</h1>
				<a href="/productos">Crear Cuenta</a>
			</div>
			<div class="contenedorImagenesMain">
				<img src="/assets/labio1.jpg" alt="">
				<img src="/assets/labio2.jpg" alt="">
				<img src="/assets/labio3.jpg" alt="">
				<img src="/assets/labio4.jpg" alt="">
				<img src="/assets/labio5.jpg" alt="">
			</div>
		</div>
		<div class="contenedorProductos">
			<div class="contenedorTarjetasDeProductos">
				<div class="tarjetaDeProductos">
					<img src="/assets/descarga.png" alt="">
					<p>24000</p>
					<h3>producto</h3>
					<button>comprar</button>
				</div>
				<div class="tarjetaDeProductos">
					<img src="/assets/descarga.png" alt="">
					<p>24000</p>
					<h3>producto</h3>
					<button>comprar</button>
				</div>
				<div class="tarjetaDeProductos">
					<img src="/assets/descarga.png" alt="">
					<p>24000</p>
					<h3>producto</h3>
					<button>comprar</button>
				</div>
				<div class="tarjetaDeProductos">
					<img src="/assets/descarga.png" alt="">
					<p>24000</p>
					<h3>producto</h3>
					<button>comprar</button>
				</div>
			</div>
		</div>
		<div class="contenedorInformativo">
			<div class="imagenAcc">
				<img src="/assets/acc.png" alt="">
			</div>
			<div class="informacionMain">
				<h2>LLevamos el Sex Shop a tu casa</h2>
				<p>	
					Se coordina una reunión entre amigas en donde nuestra consultora les muestra y las asesora sobre todos nuestros productos, brindándoles información muy completa sobre cada uno de ellos, como usarlos, para que sirven y en qué momentos y zonas son ideales, todo esto en un ambiente distendido y sobre todo muy divertido.
				</p>
			</div>
		</div>	
	</main>
	<footer>
		<h2>Copyright © 2021 | Punto G Sexshop | Creado por Tortoza Cristian</h2>
	</footer>
</body>
</html>