<%- include('partials/head.ejs') %>
	<div class="ingresarCuentaContainer">
		<form action="/ingresar" method="POST" id="formulario">
			<% if(error){%>
				<h3 class="errorMensaje"><%=error%></h3>
			<%}%>

			<input type="email" placeholder="Email" name="email" required>
			<input type="password" placeholder="contrasena" name="contrasena"required>
			<div class="formularioCrearCuentaBoton">
				<button type="submit">Ingresar</button>
				<p>No tienes una cuenta ? <a href="/crearCuenta">Crear Cuenta</a></p>
			</div>
		</form>	
	</div>	
	</main>
</body>
</html>