<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>App</title>
	<link rel="stylesheet" href="/styles.css">
</head>
<body>
	<header>
		<div class="contenedorLogoTitulo">
			<div class="logoSexShop">
				<img src="https://ss-static-01.esmsv.com/id/117646/galeriaimagenes/obtenerimagen/?width=38&height=38&id=sitio_logo&ultimaModificacion=2021-09-14+14%3A19%3A40" alt="">
				<h2>Punto G Sexshop</h2>
			</div>	
			<h4>El Sex Shop Nro. 1 en la provincia de Buenos Aires</h4>
		</div>	
		<nav>
			<a href="/">Home</a>
			<a href="/productos">Crear Cuenta</a>
			<a href="/ingresar">Ingresar</a>
		</nav>
	</header>
	<main>
		<form>
			<input type="text" placeholder="Email">
			<input type="text" placeholder="Contraseña">
			<div class="formularioCrearCuentaBoton">
				<button>Ingresar</button>
				<p>No tienes una cuenta ? <a href="">Crear Cuenta</a></p>
			</div>
		</form>
	</main>
	<footer>
		<h2>Copyright © 2021 | Punto G Sexshop | Creado por Tortoza Cristian</h2>
	</footer>
</body>
</html>